@{
    var config = ViewBag.Config as web.ViewsModels.BlogConfig;
}
<!--done-->
<div class="newsItem">
    <h3 class="catListTitle">公告</h3>
    <div id="blog-news">
        <div id="profile_block">@config.Notic</div>
    </div>
    <script type="text/javascript">loadBlogNews();</script>
</div>

<div id="leftcontentcontainer">
    <div id="blog-sidecolumn">
        <div id="sidebar_search" class="sidebar-block">
            <div id="sidebar_search" class="mySearch">
                <h3 class="catListTitle">搜索</h3>
                <div id="sidebar_search_box">
                    <div id="widget_my_zzk" class="div_my_zzk" style="padding-bottom:15px;">
                        <input id="q" onkeydown="return zzk_go_enter(event);" class="input_my_zzk" type="text">&nbsp;<input onclick="zzk_go()" value="找找看" id="btnZzk" class="btn_my_zzk" type="button">
                    </div>
                </div>
            </div>
        </div>

        <div id="sidebar_recentposts" class="sidebar-block">
            <div class="catListEssay">
                <h3 class="catListTitle">最新随笔</h3>
                <ul>
                    <li><a href="http://www.cnblogs.com/maijin/p/6541934.html">1. 2017年3月11 12 长途绕圈台山海边练车总结</a></li>

                </ul>
            </div>
        </div>

        <div id="sidebar_topviewedposts" class="sidebar-block">
            <div id="topview_posts_wrap">
                <div class="catListView">
                    <h3 class="catListTitle">阅读排行榜</h3>
                    <div id="TopViewPostsBlock"><ul><li><a href="http://www.cnblogs.com/maijin/p/3249798.html">1. Easyui + asp.net mvc + sqlite 开发教程（录屏）适合入门(12808)</a></li><li><a href="http://www.cnblogs.com/maijin/archive/2012/12/26/2834231.html">2. DataGridView设置行高(12369)</a></li></ul></div>
                </div>
            </div>
        </div>

        <div id="sidebar_topdiggedposts" class="sidebar-block">
            <div id="topdigg_posts_wrap">
                <div class="catListView">
                    <h3 class="catListTitle">推荐排行榜</h3>
                    <div id="TopDiggPostsBlock"><ul><li><a href="http://www.cnblogs.com/maijin/p/4642280.html">1. EntityFramework 5.0 CodeFirst 教程01-搭建环境和快速上手(7)</a></li><li><a href="http://www.cnblogs.com/maijin/p/3485955.html">2. Easyui入门视频教程 第01集---认识Easyui(7)</a></li></ul></div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">loadBlogSideColumn();</script>
</div>